[Desktop Entry]
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Encoding=UTF-8
Exec=lite-usermanager
Icon=liteusermanager
StartupNotify=true
Terminal=false
Type=Application
Name=Lite User Manager
Comment=Manage Users on Linux Lite
GenericName=Lite User Manager
X-XfceSettingsName=Lite User Manager
