Package: lite-usermanager
Version: 2.0-0050-linuxlite
Essential: yes
Section: base
Priority: required
Installed-Size: 26
Depends: menu, python-pexpect
Homepage: http://www.linuxliteos.com
Maintainer: Jerry Bezencon <valtam@linuxliteos.com> Vladislav Bychkov Ralphy<postmaster@unlockforus.com>
Architecture: all
Description: Linux Lite User Manager
 A tool to help you easily manage users and groups on Linux Lite.

